.new-tweet {
background:#eee;
border-radius: 15px;
border: solid lightgray 1px;
margin : 0 auto;
margin-right: 2em;
margin-left: 2em;
width: auto;
height: 170px;
padding:10px;
}
h2 {
  margin: 0 0 1em;
  border-bottom: 1px solid black;
}
span.counter{
  float: right;
}

form textarea {
  width: 365px;
  padding: 0.4em;
  margin-bottom: 0.5em;
}
